@model Model.EF.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var relate = (List<Model.EF.Product>)ViewBag.RelateProduct;
    var newpd = (List<Model.EF.Product>)ViewBag.NewProduct;
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Detail</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm mới</h2>
                    @foreach (var item in newpd)
                    {
                        <div class="thubmnail-recent">
                            <img src="@item.Image" class="recent-thumb" alt="">
                            <h2><a href="/chi-tiet/@item.MetaTitle-@item.ID">@item.Name</a></h2>
                            <div class="product-sidebar-price">
                                <ins>@item.PromotionPrice.ToString("N0")</ins> <del>@item.Price.ToString("N0")</del>
                            </div>
                        </div>
                    }
                </div>

            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="/trang-chu">Trang chủ</a>
                        <a>@ViewBag.cate</a>
                        <a>@Model.Name</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img style="width: 195px; height: 243px;" src="@Model.Image" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">


                                <in class="product-name">@Model.Name</in>
                                <div class="product-inner-price">
                                    <ins>@Model.PromotionPrice.ToString("N0")</ins> <del>@Model.Price.ToString("N0")</del>
                                </div>
                                <a style="margin: 20px 0;" class="add_to_cart_button" href="/mua-san-pham/@Model.MetaTitle-@Model.ID">Mua sản phẩm</a>

                                <div class="product-inner-category">
                                    <p>Category: <a>@ViewBag.cate</a></p>
                                </div>

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Mô tả sản phẩm</h2>
                                            @Model.Description
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="related-products-wrapper">
                        <h2 class="related-products-title">Sản phẩm liên quan</h2>
                        <div class="related-products-carousel">
                            @foreach (var item in relate)
                            {
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img src="@item.Image" alt="">
                                        <div class="product-hover">
                                            <a href="/mua-san-pham/@item.MetaTitle-@item.ID" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Mua sản phẩm</a>
                                            <a href="/chi-tiet/@item.MetaTitle-@item.ID" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
                                        </div>
                                    </div>

                                    <h2><a href="">@item.Name</a></h2>

                                    <div class="product-carousel-price">
                                        <ins>@item.PromotionPrice.ToString("N0")</ins> <del>@item.Price.ToString("N0")</del>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

